<h3>Completed technologies:</h3>
<table class="table table-striped table-bordered datatable-slim">
  <thead>
    <tr>
      <th data-priority="1">Technology</th>
      <th class="center-align" data-priority="1">Loose items</th>
      <th class="center-align" data-priority="1">Boxes</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "comp_tbl", collection: @primary_component_counts %>
  </tbody>
</table>
