<tr>
  <td><%= count.name %></td>
  <td class="center-align"><%= count.loose_count %></td>
  <td class="center-align"><%= count.unopened_boxes_count %></td>
  <% if current_page?(action: 'edit') %>
    <td>
      <%= link_to "Edit", edit_inventory_count_path(@inventory, count), class: "btn yellow" %>
    </td>
  <% end %>
</tr>
