<table class="table">
      <thead>
        <tr>
          <th class="center-align">Value of Un-built items</th>
          <th class="center-align">Value of Built items</th>
          <th class="center-align">Total Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center-align">
            <%= humanized_money_with_symbol unbuilt %>
          </td>
          <td class="center-align">
            <%= humanized_money_with_symbol built %>
          </td>
          <td class="center-align">
            <%= humanized_money_with_symbol ttl %>
          </td>
        </tr>
      </tbody>
    </table>