<div class="inventory col-sm-3">
  <h4><%= inventory.name %></h4>
  <p><%= inventory.count_summary %></p>
  <%= link_to "View", inventory_path(inventory), class: "btn yellow" %>
  <% if current_user.is_admin? %>
    <%= link_to "Edit", edit_inventory_path(inventory), class: "btn blue" %>
  <% end %>
</div>
