-# frozen_string_literal: true
%tr
  %th{ data: { priority: 1 } } Item
  %th.center-align{ data: { priority: 1 } } SKU
  - if @locator == 'item'
    %th{ data: { priority: 2 } } Supplier
  %th.center-align.small-text{ data: { priority: 3 } } Wks deliv.
  %th.center-align{ data: { priority: 3 } } Avail
  %th.center-align{ data: { priority: 1 } } Need
  %th.center-align{ data: { priority: 2 } } Unit cost
  %th.center-align{ data: { priority: 1 } } Order Qnty
  %th.center-align{ data: { priority: 1 } } Ttl cost
  %th.center-align{ data: { priority: 1 } } Order?
