<div class="col-xs-12 admin-div">
  <div class="col-xs-6">
    <p class="title">
      Total: $<span id="item_ttl">0.00</span><span id="supplier_ttl">0.00</span>
    </p>
  </div>
  <div class="col-xs-4 right-align">
    <%= link_to "By Item", "#", class: "btn yellow match-title", id: "item_btn" %>
    <%= link_to "By Supplier", "#", class: "btn yellow match-title", id: "supplier_btn" %>
  </div>
  <div class="col-xs-2 right-align">
    <a href="#" class="btn blue btn-check" id="check_all">
      <%= fa_stacked_icon "check", base: "square-o" %> <span class="btn-text">all</span>
    </a>
    <a href="#" class="btn blue btn-check" id="uncheck_all">
      <%= fa_stacked_icon "square", base: "square-o" %> <span class="btn-text">all</span>
    </a>
  </div>
</div>
