-# frozen_string_literal: true

.col-xs-3.col-sm-2
  .panel.panel-default
    .panel-heading
      .checkbox
        %label
          = check_box 'inventory', 'technologies', { multiple: true, class: 'checkbox', checked: 'checked' }, technology.id, nil
          = technology.uid_and_short_name
    .panel-body
      - if technology.image.attached?
        = image_tag technology.image, alt: technology.name
      - elsif technology.display_image.attached?
        = image_tag technology.display_image, alt: technology.name
