<div class="col-xs-12">
  <h2>Edit <%= @inventory.name %></h2>
</div>
<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="center-align">Loose Count</th>
        <th class="center-align">Box Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <%= render partial: "count", collection: @counts %>
    </tbody>
  </table>

</div>
