<div id="inventory_edit">
  <div class="col-xs-9">
    <h2>Edit <%= @inventory.name %></h2>

  </div>
  <div class="col-xs-3 match-h2">
    <%= link_to "Back", inventories_path, class: "btn blue" %>
    <p class="right-align"><%= pluralize(@uncounted, "item") %> uncounted.</p>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <%= render partial: "count", collection: @counts %>
    </div>
  </div>
</div>
