-# frozen_string_literal: true

.row
  .col-xs-10
    %h2 Inventory History
  .col-xs-2
    = link_to 'Back', inventories_path, class: 'btn yellow'
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th
          %th Date
      %tbody
        - @inventories.each do |inventory|
          %tr
            %td= inventory.name
            %td= human_date inventory.date
