<div class="no-print">
  <h4>Printing instructions:</h4>
  <ul>
    <li>Print from Google Chrome</li>
    <li>Under "More Settings", set Margins to "None"</li>
    <li>There is no way to select a specific paper tray, so either remove all other paper from printer or open all other paper trays</li>
    <li>Avery labels lay face-up in Operations Xerox 7120</li>
  </ul>
</div>

<div id="inventory_labels">
  <table id="avery8163">
    <thead>
      <tr>
        <td class='spacer-gutter'>&nbsp</td>
        <td class='spacer-label'>&nbsp</td>
        <td class='spacer-center'>&nbsp</td>
        <td class='spacer-label'>&nbsp</td>
        <td class='spacer-gutter'>&nbsp</td>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="5"></td>
      </tr>
    </tfoot>
    <tbody>
      <% @counts.in_groups_of(2, false) do |count1, count2| %>
        <tr class="label-row">
          <td></td> <!-- Left gutter -->
          <td>
            <%= render partial: 'label', locals: { count: count1 } %>
          </td>
          <td></td> <!-- Middle gutter -->
          <td>
            <% if count2.present? %>
              <%= render partial: 'label', locals: { count: count2 } %>
            <% end %>
          </td>
          <td></td> <!-- Right gutter -->
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>