<div class="row" id="inventory_order">
  <div class="col-xs-12">
    <h2>These items need to be ordered:</h2>
  </div>
</div>
<div class="row center admin-div">
  <div class="col-xs-12 col-md-8">
    <p>Total to order:</p>
  </div>
  <div class="col-xs-12 col-md-4 match-h2">
    <%= link_to "By Supplier", "#", class: "btn yellow", id: "supplier_btn" %>
    <%= link_to "By Item", "#", class: "btn yellow", id: "item_btn" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" id="order_item_div">
    <table class="table table-striped table-bordered datatable" id="order_item_tbl">
      <thead>
        <tr>
          <th data-priority="1">Item</th>
          <th class="center-align" data-priority="1">Available Count</th>
          <th class="center-align" data-priority="2">Minimum on hand</th>
          <th class="center-align" data-priority="2">Weeks until out</th>
          <th class="center-align" data-priority="2">Weeks to deliver</th>
          <th class="center-align" data-priority="2">Unit cost</th>
          <th class="center-align" data-priority="1">Minimum order</th>
          <th class="center-align" data-priority="1">Total cost</th>
          <th class="center-align" data-priority="1">Order?</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "order_tbl", collection: @low_items %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12" id="order_supplier_div">
    Supplier:
    -- Item table
    Supplier:
    -- Item table
  </div>
</div>  

