<div class="container" id="inventory_paper">
  <div class="col-xs-12">
    <table id="inv_paper_tbl" class='table'>
      <colgroup>
        <col style="width: 50%;">
        <col style="width: 20%">
        <col style="width: 10%">
        <col style="width: 20%">
        <col style="width: 10%">
      </colgroup>
      <thead>
        <tr>
          <th style='text-align: center;' colspan="5"><%= @inventory.name %> Inventory</th>
        </tr>
      </thead>
      <tbody>
        <% @counts.each do |count| %>
          <tr>
            <td class='label-cell'>
              <%= render partial: 'shared/label', locals: { count: count } %>
            </td>
            <td class='write-in'>
              <p>Loose:</p>
            </td>
            <td class='prev'>
              <p>
                Previous: <%= number_with_delimiter count.loose_count, delimiter: ',' %>
              </p>
            </td>
            <td class='write-in'>
              <p>Box:</p>
            </td>
            <td class='prev'>
              <p>
                Previous: <%= number_with_delimiter count.box_count, delimiter: ',' %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>