-# frozen_string_literal: true
.row.no-print
  .col-xs-8
    %h3 Printable inventory
  .col-xs-4.right-align
    = link_to 'Back', '/admin', class: 'btn yellow'
- @items.in_groups_of(5, false) do |batch|
  .inventory_paper
    = render partial: 'item_paper', collection: batch
