<div id="inventory_show">
  <div class="col-xs-8">
    <h2><%= @inventory.name %></h2>
  </div>
  <div class="col-xs-2 match-h2">
    <%= link_to "Edit", edit_inventory_path(@inventory), class: "btn yellow" %>
  </div>
  <div class="col-xs-2 match-h2">
    <%= link_to "Back", inventories_path, class: "btn blue" %>
  </div>
  <div class="col-xs-12">
    <table class="table datatable" id="inventory_show_table">
      <thead>
        <tr>
          <th data-priority="1">Item</th>
          <th data-priority="2">For Tech</th>
          <th class="center-align">Loose Count</th>
          <th class="center-align">Unopened Boxes</th>
          <th class="center-align"># per box</th>
          <th class="center-align">Unopened Count</th>
          <th class="center-align" data-priority="2">Available Count</th>
          <th class="center-align" data-priority="2">Total Count</th>
        </tr>
      </thead>
      <tbody>
          <%= render partial: "count_tbl", collection: @counts %>
      </tbody>
    </table>

  </div>
</div>
