<div id="inventory_status">
  <div class="row">
    <div class="col-xs-12">
      <h2>Technology Status</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table id="status_tbl" class="table table-condensed datatable-export">
        <thead>
          <tr>
            <th data-priority="1" >Technology</th>
            <th data-priority="1" class="center">Can Make</th>
            <th data-priority="3" class="popover-th"></th>
            <th data-priority="2" class="center">Available</th>
            <th data-priority="2" class="center">Monthly rate</th>
            <th data-priority="2" class="center">Weeks ahead</th>
            <th data-priority="2" class="center">Next 30</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "tech_tbl", collection: @techs %>
        </tbody>
      </table>
    </div>  
  </div>  
</div>