-# frozen_string_literal: true

.container
  .row
    .col-xs-12
      %h3 Technologies:
  .row
    .col-xs-12
      %table#list_item_tbl.table.table-striped
        %thead
          %tr
            %th Name
            %th
            %th # of Items
            %th On-hand
            %th Goal Remainder
        %tbody
          = render(partial: 'technology', collection: @techs)
