-# frozen_string_literal: true

.whole{ style: 'position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%;' }
  %p
    Hello #{@recipient.fname},
  %p This is a reminder that you're registered for a filter build coming up soon.
  .row{ style: 'margin-left: -15px; margin-right: -15px; ' }
    .whole{ style: 'position: relative; min-height: 16px; padding-left: 15px; padding-right: 15px; float: left; width: 100%; text-align: left;' }
      %p
        %strong Need to change or cancel your registration?
        No worries, just follow this link:
      = link_to 'Change / Cancel my registration', edit_event_registration_url(@event, @registration, user_token: @recipient.authentication_token, user_email: @recipient.email ), class: 'btn blue', target: '_blank', style: 'display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #9bb4c8; border-color: #91a0c8;'
  .row{ style: 'margin-top: 26px; margin-left: -15px; margin-right: -15px;' }
    = render partial: 'details'
    .whole{ style: 'position: relative; min-height: 16px; padding-left: 15px; padding-right: 15px; float: left; width: 100%; text-align: left;' }
      %p
        %strong Have a Question?
        Just reply to this email.
