<div class="users-comm">
  <%= form_tag users_comm_complete_path, method: :put do %>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h3>Communication Preferences</h3>
      </div>
      <div class="col-xs-12 col-sm-4 comm-update-div">
        <%= submit_tag "Update Email Opt Outs", class: "btn yellow comm-update-btn" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped datatable-search" id="user_comm_table">
          <thead>
            <tr>
              <th data-priority="1">Name</th>
              <th data-priority="2">Email</th>
              <th data-priority="1" class="center">Opt Out</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "comm_tbl", collection: @users  %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>