<h1>Hello World</h1>

<h3>See currently registered events</h3>
<h3>See past events</h3>
<h3>Private for build leaders: see qualifications</h3>

and edit myself
<%= link_to("Edit", edit_user_path(current_user)) %>