<div class="col-xs-12 center admin-div">
  <p>Available functions:</p>
  <%= link_to "New Inventory", new_inventory_path(type: "manual"), class: "btn yellow"  %>
  <%= link_to "Receive Supplies", new_inventory_path(type: "receiving"), class: "btn blue" %>
  <%= link_to "Ship Supplies", new_inventory_path(type: "shipping"), class: "btn blue" %>
  <% if @latest.has_items_below_minimum? %>
    <%= link_to "Order Supplies", order_inventories_path(), class: "btn red" %>
  <% end %>
</div>