<div class="container-fluid solicit-div">
    <p class="center-align">We have <strong>5 leadership roles</strong> where you can put your talents to work for clean water:</p>
    <div class="row justify-content-center center-align">
        <div class="col-5ths" >
            <div class="inner dark-box">
                <p class="solicit-title">Build Leader</p>
                <p class="solicit-text">Supervise, train and educate builders about filters and clean water</p>
                <p class="solicit-button">
                  <a href="http://20liters.org/wp-content/uploads/2019/12/20-Liters-Role-Filter-Build-Leader.pdf" class="btn-yellow-filled dark-text" target="_blank">Learn More</a>
                </p>
            </div>
        </div>
        <div class="col-5ths">
            <div class="inner dark-box">
                <p class="solicit-title">Build Scheduler</p>
                <p class="solicit-text">Schedule filter build events and leaders</p>
                <p class="solicit-button">
                  <a href="http://20liters.org/wp-content/uploads/2019/12/20-Liters-Role-Filter-Build-Scheduler.pdf" class="btn-yellow-filled dark-text" target="_blank">Learn More</a>
                </p>
            </div>
        </div>
        <div class="col-5ths">
            <div class="inner dark-box">
                <p class="solicit-title">Build Setup Crew</p>
                <p class="solicit-text">Prepare for build events by setting up the space</p>
                <p class="solicit-button">
                  <a href="https://20liters.org/wp-content/uploads/2021/09/20-Liters-Role-Filter-Build-Setup-Coordinator.pdf" class="btn-yellow-filled dark-text" target="_blank">Learn More</a>
                </p>
            </div>
        </div>
        <div class="col-5ths">
            <div class="inner dark-box">
                <p class="solicit-title">Inventory Team Member</p>
                <p class="solicit-text">Count all the parts and materials quarterly</p>
                <p class="solicit-button">
                  <a href="https://20liters.org/wp-content/uploads/2019/12/20-Liters-Role-Inventory-Manager.pdf" class="btn-yellow-filled dark-text" target="_blank">Learn More</a>
                </p>
            </div>
        </div>
        <div class="col-5ths">
           <div class="inner dark-box">
               <p class="solicit-title">Filter Specialist</p>
               <p class="solicit-text">Build our community filters wherever/whenever you choose</p>
               <p class="solicit-button">
                 <a href="https://20liters.org/wp-content/uploads/2019/12/20-Liters-Role-Filter-Build-Specialist.pdf" class="btn-yellow-filled dark-text" target="_blank">Learn More</a>
               </p>
           </div>
        </div>
    </div>
</div>
