<p style="margin-bottom: 8px;">We have <strong>4 leadership roles</strong> where you can put your talents to work for clean water:</p>
<div style="display: grid; text-align: center;">
    <div style="margin: 0px auto;">
        <div class="center-align" style="display: block; width: 180px; height: 180px; margin: 8px; background-color: #4A4A4A; color: white; float: left;">
            <div class="inner" style="padding: 6px;">
                <p style="font-weight: bold; text-transform: uppercase; line-height: 18px; margin-bottom: 6px; font-size: 1em;">Build Leader</p>
                <p style="font-size: .875em; line-height: 18px; margin-bottom: 6px; min-height: 54px;">Supervise, train and educate builders about filters and clean water</p>
                <p><a href="https://20liters.org/wp-content/uploads/2017/09/20-Liters-Role-Filter-Build-Leader.pdf" class="btn-yellow-filled dark-text" style="color: #4A4A4A; font-size: 0.8em" target="_blank">Learn More</a></p>
            </div>
        </div>
        <div class="center-align" style="display: block; width: 180px; height: 180px; margin: 8px; background-color: #4A4A4A; color: white; float: left;">
            <div class="inner" style="padding: 6px;">
                <p style="font-weight: bold; text-transform: uppercase; line-height: 18px; margin-bottom: 6px; font-size: 1em;">Build Coordinator</p>
                <p style="font-size: .875em; line-height: 18px; margin-bottom: 6px; min-height: 54px;">Schedule build dates, help people signup</p>
                <p><a href="https://20liters.org/wp-content/uploads/2017/09/20-Liters-Role-Filter-Build-Coordinator.pdf" class="btn-yellow-filled dark-text" style="color: #4A4A4A; font-size: 0.8em" target="_blank">Learn More</a></p>
            </div>
        </div>
        <div class="center-align" style="display: block; width: 180px; height: 180px; margin: 8px; background-color: #4A4A4A; color: white; float: left;">
            <div class="inner" style="padding: 6px;">
                <p style="font-weight: bold; text-transform: uppercase; line-height: 18px; margin-bottom: 6px; font-size: 1em;">Inventory Manager</p>
                <p style="font-size: .875em; line-height: 18px; margin-bottom: 6px; min-height: 54px;">Count everything once a month</p>
                <p><a href="https://20liters.org/wp-content/uploads/2017/09/20-Liters-Role-Inventory-Manager.pdf" class="btn-yellow-filled dark-text" style="color: #4A4A4A; font-size: 0.8em" target="_blank">Learn More</a></p>
            </div>
        </div>
        <div class="center-align" style="display: block; width: 180px; height: 180px; margin: 8px; background-color: #4A4A4A; color: white; float: left;">
            <div class="inner" style="padding: 6px;">
                <p style="font-weight: bold; text-transform: uppercase; line-height: 18px; margin-bottom: 6px; font-size: 1em;">Filter Specialist</p>
                <p style="font-size: .875em; line-height: 18px; margin-bottom: 6px; min-height: 54px;">Build our community filters on your time, wherever/whenever you choose</p>
                <p><a href="https://20liters.org/wp-content/uploads/2017/09/20-Liters-Role-Filter-Build-Specialist.pdf" class="btn-yellow-filled dark-text" style="color: #4A4A4A; font-size: 0.8em" target="_blank">Learn More</a></p>
            </div>
        </div>
    </div>
</div>