-# frozen_string_literal: true

.container.event-cancelled
  = render partial: 'shared/event_functions'
  .event-container
    .row
      %h2.heading Cancelled Builds
    - if @cancelled_events.any?
      .row
        .col
          %table.table.table-striped.datatable-order-events
            %thead
              %tr
                %th Name
                %th Date
                %th Tech
                %th # leaders
                %th # builders
            %tbody= render partial: 'events/event_tbl', collection: @cancelled_events, locals: { source: 'cancelled' }
    - else
      %h4 No cancelled events in the system.
