<div class="container event-cancelled">
  <%= render partial: 'shared/event_functions' %>
  <div class="event-container">
    <h2 class="heading">Cancelled Builds</h2>
    <% if @cancelled_events.any? %>
      <%= render partial: 'events/event_cancelled', collection: @cancelled_events %>
    <% else %>
      <h4>No cancelled events in the system.</h4>
    <% end %>
  </div>
</div>
