-# frozen_string_literal: true

.container.event-closed
  = render partial: 'shared/event_functions'
  .event-container
    .row
      %h2.heading Closed Builds
    - if @closed_events.any?
      .row
        .col
          %table.table.table-striped.datatable-order-events
            %thead
              %tr
                %th Name
                %th Date
                %th Tech
                %th # built
                %th # boxes packed
                %th # leaders
                %th # builders
                %th Volunteer hours
            %tbody= render partial: 'events/event_tbl', collection: @closed_events, locals: { source: 'closed' }
    - else
      %h4 No closed events in the system.
