-# frozen_string_literal: true

.container.event-edit
  .row
    = link_to 'Show', event_path(@event), class: 'float-right btn yellow'
  .page-header.row
    %h1.center-align= @event.title
    - if @event.is_private
      %h4.center-align Private Event
  - if @event.registrations.exists? && !@event.in_the_past?
    .event-edit-warning
      %h4.center-align.alert.danger
        WARNING! People have registered for this event.
        %br>/
        Everyone who registered will be notified if you change the location, times, or technology, or cancel the event.
  %div
    = render partial: 'form'
