<div class="event-index">
  <% if current_user&.admin_or_leader? %>
    <%= render partial: 'shared/event_functions' %>
  <% end %>
  <div class='container'>
    <div class="event-container">
      <h2 class="heading">Upcoming Builds</h2>
      <% if @events.count > 0 %>
        <%= render partial: 'events/event', collection: @events %>
      <% else %>
        <div class="center-align action-container">
          <h4>No upcoming events.</h4>
        </div>
      <% end %>
    </div>
    <% if !current_user&.admin_or_leader? %>
      <div class="event-container">
        <h2 class="heading">Get notified when new build events are available!</h2>
        <div class="action-container">
          <a href="https://20liters.kindful.com/register/volunteer" target="_blank" class="btn yellow">Join the Email List</a>
        </div>
      </div>
    <% end %>

    <% if @past_events.present? %>
      <div class="event-container">
        <h2 class="heading">Open Builds (report is missing)</h2>
        <%= render partial: 'events/event', collection: @past_events, locals: { use_edit_link: true } %>
      </div>
    <% else %>
      <div class="event-container">
        <h2 class="heading">Don't just build, lead!</h2>
        <%= render partial: 'events/solicit'  %>
      </div>
    <% end %>
  </div>
</div>
