<div class='container'>
  <% if current_user and current_user.is_leader? %>
    <div class="action-container">
      <%= link_to "Create New Event", new_event_path, class: 'btn btn-primary twentyliters yellow' %>
    </div>
  <% else %>
    <div class="action-container">
      <h3>Want a custom build event for your group?</h3>
      <p>If you have a group of 6+ people we can schedule a build at your convenience.</p>
      <%= mail_to 'filterbuild@20liters.org', 'Email Us!', class: 'btn btn-primary twentyliters yellow', subject: 'Request for custom build event' %>
    </div>
  <% end %>

  <div class="event-container">
    <%= render partial: 'events/event', collection: @events %>
  </div>

  <% if @past_events.present? %>

    <h3>Old events</h3>

    <div class="event-container">
      <%= render partial: 'events/event', collection: @past_events %>
    </div>
  <% end %>
</div>
