-# frozen_string_literal: true

.event-index
  .container
    .event-container
      %h2.heading Upcoming Builds
      - if @events.count.positive?
        = render partial: 'events/event', collection: @events
      - else
        .center-align.action-container
          %h4 No upcoming events.
    - unless current_user&.admin_or_leader?
      .event-container
        %h2.heading Get notified when new build events are available!
        .action-container
          %a.btn.yellow.volunteer-email-signup{ href: 'https://20liters.org/volunteer/join-the-ranks/', target: '_blank' } Join the Email List
    .event-container
      %h2.heading Don't just build, lead!
      = render partial: 'events/solicit'
