<div class="container event-new">
  <%= render partial: 'shared/event_functions' %>
  <div class="page-header">
    <h2 class="heading">Create a new build:</h2>
  </div>
  <div>
    <%= render partial: 'form' %>
  </div>
</div>
