<div class="container event-new">
  <%= render partial: 'shared/event_functions' %>
  <div class="page-header">
    <h2 class="heading">
      <% if @indicator == 'new' %>
        Create a new build:
      <% else %>
        <%= "Create a copy of #{@event.title}" %>
      <% end %>
    </h2>
  </div>
  <div>
    <%= render partial: 'form' %>
  </div>
</div>
