<div id="info-page">
  <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="what">
        <h2 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWhat" aria-expanded="true" aria-controls="collapseWhat" title="what">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
            What are Filter Builds?
          </a>
        </h2>
      </div>
      <div id="collapseWhat" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="what">
        <div class="panel-body">
          The reality of living with dirty water can seem far away, but water is everything and everything needs  water. We take this global problem very personally and invite you to do the same.
          <br><br>
          Filter builds are opportunities for you to make something that 663 million people need: a way to clean their water. You will build water filters that will change people's lives.
          <br><br>
          And, volunteering your time lowers the cost of each filter, allowing us to reach more people and keep the filters affordable.
          <br><br>
          Some of the filters we build are sold at or below cost in developing countries to support local businesses and create economic growth. Some are distributed for free in isolated rural areas that cannot afford to contribute anything towards the cost of the filter.
          <br><br>
          If you want to put your hands on a solution to a global crisis, here's your chance.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="how">
        <h2 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHow" aria-expanded="true" aria-controls="collapseHow" title="how">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
            How do Filter Builds work?
          </a>
        </h2>
      </div>

      <div id="collapseHow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="how">
        <div class="panel-body">
          Just show up with a passion for the most vulnerable and a desire to solve a gloabl problem.
          <br><br>
          We'll start with a brief overview of the global water crisis and a bit about the technology we're building. Then we'll jump in.
          <br><br>
          Different filters require different systems, some are kid-friendly, others require gluing and cutting. The registration page will tell you everything you need to know.
          <br><br>
          No special degrees or skill sets required. Experienced leaders will guide you through each station and help ensure we're producing high-quality filters that will stand the test of time.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="custom">
        <h2 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCustom" aria-expanded="true" aria-controls="collapseCustom" title="custom">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
            What is a custom or private build?
          </a>
        </h2>
      </div>
      <div id="collapseCustom" class="panel-collapse collapse" role="tabpanel" aria-labelledby="custom">
        <div class="panel-body">
          Custom builds are scheduled at the request of a group (6 or more people).
          <br><br>
          Businesses, clubs, small groups, field trips. Anyone looking to meaningfully engage their team or group in a hands-on activity with a tangible global impact can request their own event.
          <br><br>
          Just send an email to <a href="mailto:filterbuilds@20liters.org">filterbuilds@20liters.org</a> and we'll help you set it up at a time that works for you.
          <br><br>
          In most cases, your group will travel to our build site. There are so many items and tools involved in building filters that it's logistically difficult to host builds at your location.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="why">
        <h2 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWhy" aria-expanded="true" aria-controls="collapseWhy" title="why">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
            Why should I create an account?
          </a>
        </h2>
      </div>
      <div id="collapseWhy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="why">
        <div class="panel-body">
          You don't need to create an account to register for a filter build, but there are some perks:
          <ul>
            <li>Plan to build often? Let the system keep track of your upcoming and past builds.</li>
            <li>Want credit for the hours you've spent? If you turn in hours to your school or employer, our system can provide a record of those hours.</li>
            <li>Make it easy to change plans. We know things change. Logging in makes it easy to change or cancel your registration.</li>
          </ul>
          This system is not the same as our donor management software, so your password will be different. This is an intentional security feature.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="orgs">
        <h2 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOrgs" aria-expanded="true" aria-controls="collapseOrgs" title="orgs">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
            What organizations benefit from these builds?
          </a>
        </h2>
      </div>
      <div id="collapseOrgs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="orgs">
        <div class="panel-body">
          We (20 Liters) host these builds and occasionally build <a href="https://20liters.org/clean-water/#how" target="_blank">our SAM3 Household Filters</a>, which are distributed for free by our Rwandan  volunteers and staff in rural areas.
          <br><br>
          <a href="http://www.villagewaterfilters.org/" target="_blank">Village Water Filters</a> created a simple yet long-lasting Bucket Filter designed to be affordable to those making $2 a day.
          <br><br>
          The Bucket Filter is sold at or below-cost by <a href="http://businessconnectworld.com/" target="_blank">Business Connect</a> in over 60 countries. Business Connect helps locals start their own business selling water filters and other quality of life products in the developing world. This creates economic growth as well as access to clean water.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="other">
        <h2 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOther" aria-expanded="true" aria-controls="collapseOther" title="other">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
            I have a different question...
          </a>
        </h2>
      </div>
      <div id="collapseOther" class="panel-collapse collapse" role="tabpanel" aria-labelledby="other">
        <div class="panel-body">
          Great! Just send an email to <a href="mailto:filterbuilds@20liters.org">filterbuilds@20liters.org</a>.
        </div>
      </div>
    </div>

  </div>
</div>  