<h1>Will be able to:</h1>
<ul>
  <li>Set a timeframe (start, end)</li>
  <li>Export to Excel, CSV, PDF (using datatable)</li>
</ul>

<h1>Will be able to see:</h1>
<h3>By technology:</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Technology</th>
      <th># produced</th>
      <th># events</th>
      <th># volunteers (duplicated)</th>
      <th>vol hours (event length * attendance)</th>
    </tr>
  </thead>
</table>

<h3>Volunteer engagement:</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Category</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Active volunteers</td>
      <td>#</td>
    </tr>
    <tr>
      <td>Total hours</td>
      <td>#</td>
    </tr>
    <tr>
      <td>Average hours per volunteer</td>
      <td>#</td>
    </tr>
    <tr>
      <td>Volunteer value (use Fed rate)</td>
      <td>#</td>  
    </tr>
  </tbody>
</table>

<h3>Volunteer participating:</h3>
<p>3+ builds</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th># of events</th>
      <th>Total hours</th>
    </tr>
  </thead>
</table>

<h3>Group engagement:</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Groups (private builds)</th>
      <th># of events</th>
      <th>Total hours</th>
      <th>Total engaged</th>
    </tr>
  </thead>
</table>

<h3>Leadership engagement:</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Leader</th>
      <th># of events</th>
      <th># of hours</th>
    </tr>
  </thead>
</table>

<h3>Inventory mgmt:</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th># of inventories</th>
      <th># of volunteers</th>
      <th>Total hours</th>
    </tr>
  </thead>
</table>