// custom values

body.rails_admin {
  div.fieldset {
    display: flex;
    flex-flow: row wrap;
    h4 {
      width: 100%;
    }

    dl {
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;

      dt {
        z-index: 0;
      }

      .well {
        padding: 22px 5px 5px;
        margin-right: 15px;
      }
    }
  }
}
