$('.email-details').html('<h2>Sync started in the background!</h2><p>Please allow up to 5 minutes for results. <a href="https://20liters.kindful.com/admin/applications/9549" target="_blank">Click Here to see emails arrive in Kindful</a>');
$('.query-form').toggle();
