<% events = inactive_leader.registrations.leaders.includes(:event).order('events.start_time DESC') %>
<tr>
  <td>
    <%= inactive_leader.name %>
  </td>
  <td>
    <%= events.first&.event&.full_title_w_year %>
  </td>
  <td>
    <%= human_number events.size %>
  </td>
</tr>
