<h4><strong><%= "#{owner_reorder}:" %></strong></h4>
<% techs = Technology.status_worthy.where(owner: owner_reorder).order(name: :desc) %>
<% techs.each do |tech| %>
  <% low_items = @inventory.counts.select { |count| count.reorder? && count.item.technologies.map(&:id).include?(tech.id) } %>
  <p><i><%= "#{tech.name}:" %></i></p>
  <% if  %>
    <table style="border: 1px solid #4a4a4a; border-collapse: collapse;">
      <thead>
        <tr style="border: 1px solid #4a4a4a; border-collapse: collapse;">
          <th style="text-align: left; border: 1px solid #4a4a4a; border-collapse: collapse; padding: 6px;">
            Item
          </th>
          <th style="text-align: center; border: 1px solid #4a4a4a; border-collapse: collapse; padding: 6px;">
            Available
          </th>
          <th style="text-align: center; border: 1px solid #4a4a4a; border-collapse: collapse; padding: 6px;">
            Minimum
          </th>
          <th style="text-align: center; border: 1px solid #4a4a4a; border-collapse: collapse; padding: 6px;">
            Weeks to deliver
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'tech_reorder', collection: low_items  %>
      </tbody>
    </table>
  <% else %>
    <i>No items</i>
  <% end %>
<% end %>
