<div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%;">
  <h2>A filter build event has been replicated <%= pluralize(@events.size, 'time') %> by <%= @user.name %>.</h2>
</div>

<div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%;">
  <p style="margin-bottom: 6px"><strong>Here are the details:</strong></p>
  <%= render partial: 'details' %>
</div>
<div class="row" style="margin-top: 26px; margin-left: -15px; margin-right: -15px; ">
  <div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 50%; text-align: center;">

  </div>
  <div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 20%; text-align: center;">

  </div>
</div>



