@import "bootstrap";
@import "variables";
@import "font-awesome";

#counts_edit {
  .image img {
    max-width: 100%;
    max-height: 200px;
  }
  .title {
    font-weight: bold;
  }
  .description {
    text-align: center;
  }

  .expectation {
    margin-bottom: 12px;
  }

  .btn-partial {
    // vertically center next to form field
    margin-top: 26px;
  }

  hr.bar {
    margin-top: 52px;
  }
}

#item_chooser {
  margin-top: 20px;
  margin-bottom: 10px;
}
