@import "bootstrap";
@import "variables";

.event-show {
  padding-bottom: 100px;
  h1 {
    text-align: center;
  }
  .btn .fullwidth {
    margin-top: 1em;
  }

  .width188 {
    width: 188px;
  }

  .share-container {
    display: inline-flex;
  }
  .share-container > div {
    padding-right: 1em;
  }
  .twitter-div {
    margin-top: 1px;
  }
  .poster-div {
    margin-top: -1px;
  }
  .btn-poster {
    background-color: $yellow;
    border: 1px solid $yellow;
    color: $grey;
    border-radius: 4px;
    font-weight: 800;
    font-size: 11px;
    padding: 3px 6px;
    &:hover {
      text-decoration: none;
      background-color: darken($yellow, 5%);
      color: white;
    }
  }
  .mt-10 {
    margin-top: 10px;
  }

  .mt-5 {
    margin-top: 5px;
  }

  .tech-img {
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .location-img, .waiver_click {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .right-align-md {
      text-align: right;
    }
  }
}

.location-img {
  width: 100%;
  height: auto;
}

.event-container {
  @extend .row;
  margin-bottom: 30px;
  .heading {
    font-weight: bold;
    border-bottom: 2px solid $light-blue;
    padding-left: 1em;
    padding-bottom: 0.5em;
  }
  .event {
    @extend .col-sm-6;
    @extend .col-md-4;
    margin-top: 15px;
    margin-bottom: 15px;
    img.registered-badge {
      float: right;
      margin-bottom: -120px;
    }
    .location {
      padding-left: 8px;
      padding-right: 8px;
      border-bottom: 2px solid $yellow;
      padding-bottom: 12px;
    }
    .date {
      font-weight: bold;
      padding-top: 20px;
    }
    .time {
      margin-top: 6px;
    }
    .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 12px;
      font-weight: bolder;
      line-height: 32px;
    }
    .top-part-wrapper {
      height: 290px;
    }
    .bar-outer-wrapper {
      position: relative;
      height: 50px;
      margin-left: -2em;
      margin-right: -2em;
      &.is_leader {
        height: 125px;
      }
    }
    .bar-inner-wrapper{
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .bar {
      background-color: $grey;

      color: white;
      padding: 0.8em 0.5em 0.8em 0.5em ;
      &.yellow {
        background-color: $yellow;
        color: $grey;
      }
      &.red {
        background-color: $red;
      }
      &.blue {
        background-color: $light-blue;
      }
    }
    .learn-more {
      margin: 2em;
      margin-top: 1em;
    }
    a {
      text-align: center;
      background-color: white;
      display: block;
      color: black;
      text-decoration: none;
      padding: 2em 2em 0 2em;
      box-shadow: 0 0 5px #888;
      &:hover {
        color: black;
        background-color: $light-grey;
        box-shadow: 0 0 18px #888;
      }
      button {
        margin-top: 10px;
      }
    }
    &.cancelled {
      display: block;
      margin: 1em;
      text-align: center;
      background-color: white;
      color: black;
      padding: 2em;
      box-shadow: 0 0 5px #888;
      padding: 2em 2em 0 2em;
      &:hover {
        color: black;
        background-color: $light-grey;
        box-shadow: 0 0 18px #888;
      }
      a.restore {
        margin-top: 10px;
        padding: 6px;
        box-shadow: none;
      }
    }
  }

  .btn-yellow-filled {
    border: 2px solid #FCE000;
    background-color: #FCE000;
    color: #4A4A4A;
    display: inline-block;
    position: relative;
    font-family: "DINPro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin: 7px 0;
    text-align: center;
    padding: 7px 19px;
    font-size: 0.8em;
  }

  .solicit-div {
    .dark-box {
      background-color: #4A4A4A;
      color: white;
    }

    .inner {
      padding: 24px;
    }

    .solicit-button {
      margin-top: 18px;
      margin-bottom: 25px;
      a {
        color: #4a4a4a;
        &:hover {
          text-decoration: none;
          color: #4a4a4a;
          background-color: lighten($yellow, 10%)
        }
      }
    }
  }

  .solicit-title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 1.125em;
    box-sizing: border-box;
    min-height: 36px;
  }

  .solicit-text {
    font-size: .875em;
    line-height: 18px;
    margin-top: 14px;
    margin-bottom: 6px;
    min-height: 72px;
    hyphens: auto;
  }

  .family-friendly{
    margin-top:.2rem;
  }
}

.event-poster {
  .poster-logo, .tech-img {
    width: 100%;
  }
  .poster-title {
    margin-top: 2em;
    text-align: center;
  }
  .event-title {
    font-size: 4em;
    border: 2px solid #4a4a4a;
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 12px;
    margin: 24px;
  }
  .location-row, .signup-row {
    margin-top: 48px;
  }
  .signup-row {
    text-align: center;
    border: 2px solid #4a4a4a;
    color: #4a4a4a;
    margin: 12px;
    h2 {
      text-transform: uppercase;
    }
  }
}

@media (max-width: 768px) {
  .solicit-title {
    min-height: 18px;
  }

  .solicit-text {
    min-height: 22px;
    padding: 6px 18px;
  }

  .inner {
    margin: 12px auto;
  }
}

@media (min-width: 768px) {
  .event-form {
    .height-75 {
      height: 75px;
      .event_is_private, p {
        margin-top: 28px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .solicit-title {
    min-height: 18px;
  }

  .solicit-text {
    min-height: 48px;
  }
}

@media print {
  .poster-logo {
    width: 130px !important;
    float: right;
    margin-top: 18px;
  }

}