@import "bootstrap";
@import "variables";

.event-show {
  padding-bottom: 100px;
  h1 {
    text-align: center;
  }
  .btn {
    margin-top: 1em;
    display: block;
    width: 100%;
  }
  .share-container {
    display: flex;
  }
  .share-container > div {
    padding-right: 1em;
  }
  .waiver_click label {
    cursor: pointer;
  }
}

.event-container {
  @extend .row;
  margin-bottom: 30px;
  .heading {
    font-weight: bold;
    border-bottom: 2px solid $light-blue;
    padding-left: 1em;
    padding-bottom: 0.5em;
  }
  .event {
    @extend .col-sm-6;
    @extend .col-md-4;
    margin-top: 15px;
    margin-bottom: 15px;
    .location {
      padding-left: 8px;
      padding-right: 8px;
      border-bottom: 2px solid $yellow;
      padding-bottom: 20px;
    }
    h2 {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 20px;
    }
    .top-part-wrapper {
      height: 250px;
    }
    .bar-outer-wrapper {
      position: relative;
      height: 50px;
      margin-left: -2em;
      margin-right: -2em;
      &.is_leader {
        height: 125px;
      }
    }
    .bar-inner-wrapper{
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .bar {
      background-color: $grey;

      color: white;
      padding: 0.8em 0.5em 0.8em 0.5em ;
      &.yellow {
        background-color: $yellow;
      }
      &.red {
        background-color: $red;
      }
      &.blue {
        background-color: $light-blue;
      }
    }
    .learn-more {
      margin: 2em;
      margin-top:2.3em;
    }
    a {
      text-align: center;
      background-color: $light-grey;
      display: block;
      color: black;
      text-decoration: none;
      padding: 3.6em 2em 0 2em;
      &:hover {
        color: black;
        background-color: $light-grey;
        box-shadow: 0 0 5px #888;
      }
      button {
        margin-top: 10px;
      }
    }
  }
}

.center-align {
  text-align: center;
}

.btn-yellow-filled {
  border: 2px solid #FCE000;
  background-color: #FCE000;
  color: #4A4A4A;
  display: inline-block;
  position: relative;
  font-family: "DINPro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin: 7px 0;
  text-align: center;
  padding: 7px 19px;
  font-size: 0.8em;
}

.solicit-row {
  display: grid;
  text-align: center;
}

.solicit-container {
  margin: 0px auto;
}

.solicit-box {
  display: block;
  width: 180px;
  height: 180px;
  margin: 8px;
  background-color: #4A4A4A;
  color: white;
  float: left;

  .inner {
    padding: 6px;
  }

  .solicit-button {
    margin-top: 18px;
    margin-bottom: 25px;
  }
}

.solicit-title {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: 1.125em;
  box-sizing: border-box;
}

.solicit-text {
  font-size: .875em;
  line-height: 18px;
  margin-top: 14px;
  margin-bottom: 6px;
  min-height: 56px !important;
  hyphens: auto;
}
