@import 'variables';

* {
  font-family: 'DINPro-Regular', sans-serif;
}

abbr, acronym {
  border-bottom: 0px !important;
}

.twentyliters {
  a {
    color: $light-blue;
    text-decoration: underline;
    &:hover {
      color: darken($light-blue, 10%);
    }
  }

  .form-control {
    border-radius: 0;
    border: 1px solid $yellow;
  }
  

  textarea {
    width: 100%;
    border: 1px solid $slightly-darker-light-grey;
  }

  .btn {
    border-radius: 0;
    border: 0;
    color: $grey;
    font-weight: bold;
  }

  .btn.yellow {
    background-color: $yellow;
    &:hover {
      background-color: lighten($yellow, 10%)
    }
  }

  .btn.red {
    color: white;
    background-color: $red;
    &:hover {
      background-color: lighten($red, 10%)
    }
  }

  .btn.empty {
    background-color: transparent;
    transition: all 0.14s ease-in-out;
    border: 2px $yellow solid;
    padding-left: 2em;
    padding-right: 2em;
    &:hover {
      background-color: $yellow;
  	  color:#fff;
    }
  }

  .form-control:focus {
    box-shadow: 0 0 5px $light-blue;
    border: 1px solid $light-grey;
  }
}

.action-container {
  text-align: center;
  max-width: $xs-breakpoint;
  margin: 1em auto;
  .btn {
    display: block;
  }
}


