@import 'variables';

* {
  font-family: 'DINPro-Regular', sans-serif;
}

abbr, acronym {
  border-bottom: 0px !important;
}

.btn.twentyliters {
  border-radius: 0;
  border: 0;
  color: $grey;
  font-weight: bold;
}

.btn.twentyliters.yellow {
  background-color: $yellow;
}

.btn.twentyliters.empty {
  background-color: transparent;
  border: 2px $yellow solid;
  padding-left: 2em;
  padding-right: 2em;
  &:hover {
    color: inherit;
    box-shadow: 0 0 1px $grey;
  }
}

.action-container {
  text-align: center;
  max-width: $xs-breakpoint;
  margin: 0 auto 0.5em auto;
  .btn {
    display: block;
  }
}
