@import 'variables';

#inventory_index {
  .btn-group .btn {
    margin: 1em;
  }

  .col-sm-4 {
    text-align: center;
  }

  .inventory {
    background-color: $slightly-darker-light-grey;
    height: 12em;
    margin: .8em 2em;
    padding: .8em;
    text-align: center;
    box-shadow: 0 0 6px #888;
    &:hover {
      background-color: $light-grey;
      box-shadow: 0 0 12px #888;
    }
    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .btn {
      margin-top: 8px;
    }
  }
}

.match-h2 {
  min-height: 63px;
  text-align: right;
  a.btn {
    margin-top: 15px;
  }
}

#inventory_edit {
  #filter_div {
    padding: .5em 4px;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 2px;
    border-bottom: 2px solid $yellow;
    box-shadow: 0 0 5px #888;
    .btn-group {
      margin: 4px;
    }
    button {
      font-size: 10px;
      padding: 4px 8px;
    }
    p {
      margin: 0px;
    }
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -1px;
    z-index: 2;
  }

  .count-div {
    background-color: $slightly-darker-light-grey;
    height: 156px;
    margin: .8em .2em;
    padding: .8em;
    text-align: center;
    box-shadow: 0 0 6px #888;
    &:hover {
      background-color: $light-grey;
      box-shadow: 0 0 12px #888;
    }
    .count-title {
      font-weight: bold;
      padding-bottom: 6px;
      border-bottom: 2px solid #fce000;
    }
    .count-tech, .current-count {
      margin: 0;
    }
    a {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      width: 60%;
      margin: 0 auto;
    }
  }

  .count-filters {
    display: none;
  }

  .admin-div {
    margin-bottom: 1em;
    padding-bottom: 0em;

    p {
      margin: 0px;
    }

    .btn-group {
      margin: 14px;
    }

    .tech-btn {
      padding-left: 4px;
      padding-right: 4px;
    }
  }  

  #finalize_form {
    display: none;
  }
}

#inventory_order {
  #sticky {
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -1px;
    z-index: 2;

    .title {
      font-size: 16px;
    }

    .match-title {
      &.btn {
        font-size: 10px;
        display: inline-block;
      }
    }

    #order_supplier_div, #supplier_ttl {
      display: none;
    }
  }

  #scrolling {
    .btn-check {
      margin-top: 30px;
    }

    .order-associated-costs {
      display: none;
    }

    .min-order-field {
      width: 74px;
    }
  }

  .btn-check {
    padding-left: 1px;
    padding-top: 0px;
    height: 18px;
    width: 38px;
    border-radius: 4px;
    font-size: 7px;
    text-align: left;
    .btn-text {
      font-size: 11px;
    }
  }
}

#inventory_status {
  .popover {
    font-size: 10px;
  }
}

#inventory_paper {
  @media print {
    thead { display: table-header-group; }
  }

  #inv_paper_tbl {
    table-layout: fixed;

    .prev, .write-in {
      text-align: center;
      padding: 0px;
    }

    .write-in {
      border-left: 1px solid gray;
      font-weight: bold;
    }

    p {
      padding: 0px 2px;
      margin: 0 0 0 0;
      font-size: .8em;
    }
  }

  .item-label {
    table-layout: fixed;

    .td-img {
      width: 150px;
      img {
        max-width: 90%;
        max-height: 62px;
      }
    }

    .td-name {
      font-weight: bold;
      font-size: 1.125em;

      p {
        padding-bottom: 6px !important;
      }
    }

    .right-border {
      border-right: 2px solid gray;
      text-align: right;
      padding-right: 4px;
      margin-right: -2px;
      width: 20px;
      height: 15px;
    }
  }  
}

