@import 'variables';

#inventory_index {
  // .btn-group .btn {
  //   margin: 1em;
  // }

  .col-sm-4 {
    text-align: center;
  }

  .inventory {
    background-color: $slightly-darker-light-grey;
    height: 12em;
    margin: .8em 2em;
    padding: .8em;
    text-align: center;
    box-shadow: 0 0 6px #888;
    &:hover {
      background-color: $light-grey;
      box-shadow: 0 0 12px #888;
    }
    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .btn {
      margin-top: 8px;
    }
  }

  #item_history_tbl {
    width: 98%;
    margin: 1em auto 0 auto;

    thead {
      // scrollbar is average 1em/16px width
      // width: calc( 100% - 1em );
      display: table;
      width: 100%;
      table-layout: fixed;
    }
    tbody{
      display: block;
      max-height: 280px;
      overflow-y: scroll;

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }
  }
}

.match-h2 {
  min-height: 63px;
  text-align: right;
  a.btn, select, label {
    margin-top: 15px;
    vertical-align: middle;
  }
}

.match-h3 {
  min-height: 63px;
  margin-top: 20px;
}

#inventory_edit {
  #filter_div {
    padding: .5em 4px;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 2px;
    border-bottom: 2px solid $yellow;
    box-shadow: 0 0 5px #888;
    .btn-group {
      margin: 4px;
    }
    button {
      font-size: 10px;
      padding: 4px 8px;
    }
    p {
      margin: 0px;
    }
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -1px;
    z-index: 2;
  }

  .count-wrapper > .count-div {
    border-radius: 4px;
    height: 16em;
    margin: .8em .2em;
    padding: .8em;
    text-align: center;
    box-shadow: 0 0 6px #888;
    z-index: 0;
    &:hover {
      background-color: $light-grey;
      box-shadow: 0 0 12px #888;
    }
    .count-title {
      font-weight: bold;
      padding-bottom: 6px;
      border-bottom: 2px solid #fce000;
      height: 3.25em;
    }
    .count-tech, .current-count {
      margin: 0;
    }
    .half {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      width: 50%;
      height: 8em;
      float: left;

      &.count-img {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    .count-btn {
      margin-top: 0.25em;
      width: 80%;
    }
  }

  .count-filters {
    display: none;
  }

  .admin-div {
    margin-bottom: 1em;
    padding-bottom: 0em;

    p {
      margin: 0px;
    }

    .btn-group {
      margin: 14px;
    }

    .tech-btn {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  #finalize_form {
    display: none;
  }
}

#inventory_order {
  #sticky {
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -1px;
    z-index: 2;

    .title {
      font-size: 16px;
    }

    .match-title {
      &.btn {
        font-size: 10px;
        display: inline-block;
      }
    }

    #order_supplier_div, #supplier_ttl {
      display: none;
    }
  }

  #order_item_tbl {
    thead th {
      position: sticky !important;
      top: 129px;
      background: white;
    }

    .small-text {
      font-size: 0.8em;
    }
  }

  #scrolling {
    .btn-check {
      margin-top: 30px;
    }

    .min-order-field {
      width: 74px;
    }
  }

  .btn-check {
    padding-left: 1px;
    padding-top: 0px;
    height: 18px;
    width: 38px;
    border-radius: 4px;
    font-size: 7px;
    text-align: left;
    .btn-text {
      font-size: 11px;
    }
  }
}

#inventory_new {
  .panel-body img {
    max-width: 100%;
  }
}

.inventory_paper {
  width: 8.5in;
  margin: 0;
  display: grid;
  gap: 0;
  page-break-after: always;
  break-after: always;

  // can't use .label because Bootstrap is already using it
  div[class*="-gutter"] {
    outline: 1px dotted black;
  }

  // left gutter | label | label | right gutter
  grid-template-columns: 0.25in 8in 0.25in;
  // top gutter | labels x 10 | bottom gutter
  grid-template-rows: 0.5in repeat(8, 1.25in) 0.5in;

  .top-gutter {
    grid-column: 1 / 4;
    grid-row: 1;
    vertical-align: bottom;

    p {
      padding-top: 0.25in;
    }
  }

  .bottom-gutter {
    grid-column: 1 / 4;
    grid-row: 12;
  }

  .left-gutter {
    grid-column: 1;
  }

  .right-gutter {
    grid-column: 3;
  }

  .item-line {
    outline: 1px solid black;
    text-align: center;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 3fr 3fr;
    grid-template-rows: 1.25in;
    overflow: hidden;

    div {
      outline: 1px solid grey;
    }

    .img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;

      img {
        // this image is only for print
        display: none;
      }
    }

    .titles {
      grid-column: 2 / 3;
    }

    .descriptions {
      grid-column: 3 / 4;
    }

    .counts {
      grid-column: 4 / 5;

      .half {
        float: left;
        width: 50%;
        height: 100%;
        outline: 1px solid grey;
      }
    }

    p {
      text-align: center;
      padding: 1%;
      margin-bottom: 1px;
    }

    p.title {
      padding: 6px 0;
      font-weight: bold;
      font-size: 1.2vw;
      overflow: hidden;
    }

    p.bold {
      width: 98%;
      margin-left: 1%;
      marign-right: 1%;
      font-size: 1.2vw;
      font-weight: 900;
      outline: 1px solid black;
    }

    p.small {
      font-size: 1vw;
    }
  }
}

@media print {
  body[data-action='paper'] .container-full {
    margin: 0;
  }

  .inventory_paper {
    -webkit-print-color-adjust:exact;
    -webkit-filter:opacity(1);

    img {
      display: inline !important;
      max-height: 0.75in;
      max-width: 2in;
    }

    div[class*="-gutter"] {
      outline: none;
    }
  }
}
