@import 'variables';
// `/labels`
#labels_chooser {
  img.table-img {
    width: 80px;
  }
}

// '/labels'
.twentyliters form a.btn-check {
  font-size: 9px;
}

// `/label/:uid`
// TODO: where is #inventory_labels
#inventory_labels, #paper_labels {
  width: 8.5in;
  margin-right: auto;
  margin-left: auto;

  .border {
    border: 1px solid gray;
  }

  .bold {
    font-weight: bold;
  }

  .right-border {
    border-right: 2px solid gray;
    text-align: right;
    padding-right: 6px;
    margin-right: -2px;
  }
}

table#avery8163 {
  table-layout: fixed;
  width: 100%;

  thead, tfoot {
    td {
      height: .5in;
    }

    .spacer-gutter {
      width: 0.155in;
    }

    .spacer-center {
      width: 0.19in;
    }

    .spacer-label {
      width: 4in;
    }
  }

  tbody {
    tr.label-row {
      // TODO: I think this is failing
      height: 2in;
    }
  }
}


// _label partial
.label-flex {
  aspect-ratio: 2/1;
  padding: 1%;
  border: 1px solid black;
  border-radius: 8px;

  .half {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;

    &.img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      list-style-position: inside;

      img {
        // this image is only for print
        display: none;
      }
    }
  }

  p {
    text-align: center;
    margin-bottom: 2px;
  }

  p.title {
    padding: 6px 0;
    font-weight: bold;
    font-size: 1.25em;
    height: 35%;
    overflow: hidden;
  }

  p.bold {
    font-size: 1.25em;
    font-weight: 900;
    color: #fff;
    background-color: black;
  }
}

@media print {
  table#avery8163 {
    thead {
      display: table-header-group;
    }

    tfoot {
      display: table-footer-group;
    }

    tbody .item-label {
      // border: 0px solid white;
    }

    .label-flex {
     // border: 0px solid white;
     .img {
      img {
        display: inline;
        max-height: 1.9in;
      }
     }
    }
  }
}

