@import "variables";
@import "bootstrap";

.twentyliters{
  .navbar.navbar-default {
    padding: 5px 30px;
    background-color: $navbar-bg-color;
    border-color: $navbar-bg-color;
    border: none;
    border-radius: 0;
    padding-top:.6em;
    padding-bottom:.6em;
    li {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 15px;
      box-sizing: border-box;
      & > a {
        box-sizing: border-box;
        color: white;
        line-height: 1em;
        padding-top: 12px;
        padding-bottom: 12px;
        &:hover {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

  }

  .navbar-toggle .icon-bar {
    background-color: white;
  }

  .navbar-brand {
    background: image-url('logo-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1em;
    height: 40px;
    width: 200px;
    margin-top: 8px;
  }
}

@media (min-width: $sm-breakpoint) {
  .twentyliters .navbar > .container-fluid .navbar-brand {
    margin-left: 1em;
  }
  .twentyliters .navbar li > a:hover {
    border-bottom: 2px solid #FCE000;
  }
}

.give-button {
  color: white;
  // margin-top: 8px;
  // margin-right: 5px;
  -webkit-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  // lineheight: 42px;
  &:hover {
    background-color: $yellow;
    color: $grey;
  }
}
