@import "variables";
@import "bootstrap";

.twentyliters{
  .navbar {
    background-color: $navbar-bg-color;
    border-color: $navbar-bg-color;
    border: none;
    border-radius: 0;
  }

  .navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  .navbar-brand {
    background: image-url('logo-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1em;
    height: 40px;
    width: 200px;
    margin-top: 5px;
  }
}

@media (min-width: $sm-breakpoint) {
  .twentyliters .navbar > .container-fluid .navbar-brand {
    margin-left: 1em;
  }
}
