@import "variables";
@import "bootstrap";

.twentyliters{
  .navbar {
    background-color: $navbar-bg-color;
    border-color: $navbar-bg-color;
    border: none;
    border-radius: 0;
  }

  .navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  .navbar-brand {
    background: image-url('logo-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1em;
    height: 40px;
    width: 200px;
    margin-top: 5px;
  }
}

@media (min-width: $sm-breakpoint) {
  .twentyliters .navbar > .container-fluid .navbar-brand {
    margin-left: 1em;
  }
}

.navbar {
  padding: 5px 30px;

  li {
    padding-left: 15px;
  }

  a{
      border-bottom: 2px solid $navbar-bg-color;
    }

  a:hover {
    text-decoration: none !important;
    font-weight: bold;
    border-bottom: 2px solid #FCE000;
  }

  a.navbar-brand:hover {
    border-bottom: 2px solid $navbar-bg-color;
  }
}

.give-button {
    color: white !important;
    margin-top: 8px;
    margin-right: 5px;
    -webkit-transition: all 0.14s ease-in-out;
    transition: all 0.14s ease-in-out;
    height: 42px;

}

.give-button:hover {
  background-color: $yellow !important;
  color: $grey !important;
}
