@import "variables";

.panel-heading {
  background-color: $yellow !important;
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
    &:hover {
      text-decoration: none;
      color: black;
    }
}

.panel-body a {
  color: black;
  text-decoration: underline;
}
