@import "variables";

#info-page {
  .panel-heading {
    background-color: white;
  }
  .panel {
    border: 2px solid $yellow;
  }

  .panel-title a {
      display: block;
      padding: 10px 15px;
      margin: -10px -15px;
      &:hover {
        text-decoration: none;
        color: black;
      }

      .fa-minus {
        display: none;
      }


  }
  .panel-body a {
    color: black;
    text-decoration: underline;
  }

  a[title="what"] {
    .fa-plus {
      display: none;
    }

    .fa-minus {
      display: inline-block;
    }
  }
}

#vol_report {
  #event_detail, #people_detail {
    display: none;
  }
}
