@import "bootstrap";
@import "variables";

.modal-dialog {
  h2 {
    font-size: 1.7em;
    margin-top: 8px;
  }

  h3 {
    font-size: 1.25em;
    margin-top: 12px;
  }
}

.event-container {
  .user-edit {
    margin-top: -56px;
    margin-right: 12px;
    height: 32px;
    display: block;
    float: right;
  }
  .heading {
    padding-right: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.emphasis-div {
  padding: .8em 1em;
  background-color: $slightly-darker-light-grey;
  min-height: 268px !important;
  box-shadow: 0 0 5px #888;
}

.btn.devise {
  margin-top: .5em;
  margin-bottom: .5em;
  width: 100%;
}

.user-form-inputs .has-error {
  color: $red;
  border-color: $red;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
