@import "bootstrap";
@import "variables";

.modal-dialog {
  h2 {
    font-size: 1.7em;
    margin-top: 8px;
  }

  h3 {
    font-size: 1.25em;
    margin-top: 12px;
  }
}

.event-container {
  .user-edit {
    margin-top: -56px;
    margin-right: 12px;
    height: 32px;
    display: block;
    float: right;
  }
  .heading {
    padding-right: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.qualifications-div {
  padding: .8em 1em;
  background-color: $light-grey;
  // color: white;
}

.btn.devise {
  margin-top: .5em;
  margin-bottom: .5em;
  width: 100%;
}
