@import "bootstrap";
@import "variables";

.modal-dialog {
  h2 {
    font-size: 1.7em;
    margin-top: 8px;
  }

  h3 {
    font-size: 1.25em;
    margin-top: 12px;
  }
}

.event-container {
  .user-edit {
    margin-top: -56px;
    margin-right: 12px;
    height: 32px;
    display: block;
    float: right;
  }
  .heading {
    padding-right: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.user-show {
  #accordion {
    margin-top: 2em;
    .panel-heading {
      background-color: white;
    }
    .panel {
      border: 2px solid $yellow;
    }
    .panel-title a {
      display: block;
      padding: 10px 15px;
      margin: -10px -15px;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }

  .fa-minus {
    display: none;
    }
  }
}

.users-comm {
  .comm-update-div {
    // text-align: right;
    .comm-update-btn {
      margin-bottom: 1em;
    }
  }
}

#user_edit_form {
  #password_change_notice {
    display: none;
  }
}



@media screen and (max-width: 767px) {
  .comm-update-div {
    text-align: center;
    left: 27px;
  }
}

@media screen and (min-width: 768px) {
  .comm-update-div {
    text-align: right;
  }
}
