<tr>
  <th colspan="2">Component</th>
  <th># per Tech</th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td colspan="2">
    <%= component.name %>
  </td>
  <td>
    <%= component.per_technology %>
  </td>
  <td># needed</td>
  <td>chkbx</td>
</tr>
<tr>
  <th></th>
  <th>Parts in component:</th>
  <th># per Component:</th>
  <th></th>
  <th></th>
</tr>
<%= render partial: "part", collection: component.parts.order(:name), locals: { component: component } %>
