-# frozen_string_literal: true

.col-xs-12.center.admin-div
  %button#hide_admin.close{ type: 'button' }
    %span{ 'aria-hidden' => 'true' } ×
  %p Available functions:
  = link_to 'Order Items', order_all_inventories_path, class: 'btn empty use-load-screen'
  = link_to 'Tech Status', status_inventories_path, class: 'btn blue use-load-screen'
  = link_to 'Financials', financials_inventories_path, class: 'btn blue use-load-screen' if current_user&.can_do_inventory?
