-# frozen_string_literal: true
%tr
  %td
    = technology.name
  %td
    - if technology.image.attached?
    %img{ height: '100', src: url_for(technology.image) }
  %td
    = technology.owner
  %td
    = link_to 'Item List', items_technology_path(technology.id), class: 'btn blue'
    = link_to 'Price List', prices_technology_path(technology.id), class: 'btn yellow'
