<tr>
  <td style="height:100px;">
    <%= link_to technology.name, items_technology_path(technology.id) %>
  </td>
  <td style="height:100px;">
    <img src="<%= technology.img_url %>" height="100">
  </td>
  <td style="height:100px;">
    <%= technology.owner %>
  </td>
</tr>
