-# frozen_string_literal: true

#item_list.container
  .row
    .col-xs-10
      %h3 Item List
    .col-xs-2
      = link_to 'Back to lists', item_lists_path, class: 'btn yellow'
  .row
    .col
      %table.table.table-striped.datatable-item-list
        %caption Printed #{Date.today.to_s(:long)}
        %thead
          %th Item Name
          %th UID
        %tbody
          - @items.each do |item|
            %tr{ id: item[0] }
              %td= item[1]
              %td= item[0]
