-# frozen_string_literal: true
.no-print
  .float-right
    = link_to 'Back', labels_path, class: 'btn yellow'
  %h4 Printing instructions:
  %ul
    %li Print from Google Chrome
    %li Under "More Settings", set Margins to "None"
    %li Use Avery 8136 labels (4"x2", 10 per page), lay face-up in Operations Xerox 7120

-# One full page of labels for each item
- @ary.each do |item|
  .labels_page
    .top-gutter
    - 5.times do
      .left-gutter
      .label-custom
        = render partial: 'labels/label', object: item
      .center-gutter
      .label-custom
        = render partial: 'labels/label', object: item
      .right-gutter
    .bottom-gutter
