-# frozen_string_literal: true

.no-print
  %h4 Printing instructions:
  %ul
    %li Use Avery 8136 labels (4"x2", 10 per page)
    %li Print from Google Chrome
    %li Under "More Settings", set Margins to "None"
    %li Print to PDF, not directly to printer
    %li from Preview, print to Xerox 7120 using Color Tray 5 settings
    %li Xerox 7120 tray 5: place labels face down with guards against long edge
.labels_page
  .top-gutter
  - 5.times do
    .left-gutter
    .label-custom
      = render partial: @label
    .center-gutter
    .label-custom
      = render partial: @label
    .right-gutter
  .bottom-gutter
