<h2>
  <img src="<%= @technology.img_url %>" width="120">
  <%= @technology.name %>
</h2>
<ul>
  <%= render partial: 'assembly', collection: @assemblies %>
</ul>
<hr />
<h3>Materials:</h3>
<ul>
  <% @materials_ary&.uniq.each do |material| %>
    <li>
      <%= material.name %>
    </li>
  <% end -%>
</ul>
