<div class="no-print">
  <h4>Printing instructions:</h4>
  <ul>
    <li>Print from Google Chrome</li>
    <li>Under "More Settings", set Margins to "None"</li>
    <li>There is no way to select a specific paper tray, so either remove all other paper from printer or open all other paper trays</li>
    <li>Use Avery 8136 labels (4"x2", 10 per page), lay face-up in Operations Xerox 7120</li>
  </ul>
</div>

<div id="paper_labels">
  <table id="avery8163">
    <thead>
      <tr>
        <td class='spacer-gutter'>&nbsp</td>
        <td class='spacer-label'>&nbsp</td>
        <td class='spacer-center'>&nbsp</td>
        <td class='spacer-label'>&nbsp</td>
        <td class='spacer-gutter'>&nbsp</td>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="5"></td>
      </tr>
    </tfoot>
    <tbody>
      <% 5.times do %>
        <tr class="label-row">
          <td></td> <!-- Left gutter -->
          <td>
            <%= render partial: 'shared/label', locals: { count: @count } %>
          </td>
          <td></td> <!-- Middle gutter -->
          <td>
            <%= render partial: 'shared/label', locals: { count: @count } %>
          </td>
          <td></td> <!-- Right gutter -->
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>