// clear and close the modal form
$('#assembly_modal_body').html('');
$('#edit_assembly_modal').modal('hide');

// update the DOM
$("#assembly_quantity_<%= @assembly.id %>").html("<%= @assembly.quantity %>");

// clear out any old flash messages
$('.main div.alert').remove();

// fake a flash message
$('.main').prepend('<div class="alert fade in <%= @msg_type %>"><button class="close" data-dismiss="alert">x</button><%= @message %></div>');


