<footer class="footer no-print">
	20 Liters is a 501[c]3 non profit corporation, EIN 27-3378656 <a href="https://20liters.org/privacy-policy">privacy policy</a>
	©<%= Time.current.year %> <a href="https://www.facebook.com/20liters"><i class="fa fa-facebook"></i></a><a href="https://www.instagram.com/20liters/"><i class="fa fa-instagram"></i></a>
</footer>
