<div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%;">
  <p>Hello <%= @user.fname %>,</p>

  <p>Your password has just been changed in the Filter Build system.</p>

  <p>If you didn't initiate this, please reply to this email.</p>
</div>
<div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 20%;">
  <%= link_to "Go to make.20liters.org", "https://make.20liters.org", class: "btn yellow", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #fce000; border-color: ##fcc900;" %>
</div>
